.item-main {
  padding-bottom: 16px;
}

.item-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
  align-items: center;
}

.button {
  height: 44px;
  width: 44px;
  border-radius: 8px;
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}

.item-input {
  border-radius: 8px;
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
  height: 44px;
  padding: 8px;
}

.item-name {
  flex: 1;
}

.item-value {
  width: 64px;
}
